@font-face {
  font-family: "Mundial";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("https://umesh-moonraft.github.io/fonts/Mundial-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Mundial";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://umesh-moonraft.github.io/fonts/Mundial-Light.otf")
    format("opentype");
}

@font-face {
  font-family: "Mundial";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("https://umesh-moonraft.github.io/fonts/Mundial-Thin.otf")
    format("opentype");
}
@font-face {
  font-family: "Mundial";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://umesh-moonraft.github.io/fonts/Mundial-SemiBold.otf")
    format("opentype");
}

@font-face {
  font-family: "Mundial";
  src: url("https://umesh-moonraft.github.io/fonts/Mundial-Bold.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

html {
  --homely-sky: #00a3ff;
  --secondary-text: #3f3f3f;
  --grey: #d6d6d6;
  --light-sky: #80d1ff;
}

body {
  font-family: "Mundial", sans-serif;
  background-attachment: fixed;
  background-color: #f7f1ed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: #000;
  height: 100vh;
}

main {
  max-width: 470px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  justify-content: center;
  display: flex;
  padding: 0;
}

.unified_container {
  padding: 0 24px;
  flex: 1;
}

a,
a:focus {
  outline: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--secondary-text);
}
select {
  border: none;
  border-bottom: 1px solid #ccc;
}
select:focus {
  text-shadow: 0 0 0 #000;
  outline: 0;
  border: none;
  border-bottom: 1px solid #1662c7;
}
select:-moz-focusring {
  color: transparent;
}
img[data-tenant-branding-background="true"] {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  position: fixed;
  left: 0;
  overflow: hidden;
  top: 0;
}
div[data-tenant-branding-background-color="true"] {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
}
#api {
  margin: 0 auto;
}
.heading h1 {
  margin-bottom: 20px;
}
.col-lg-6 {
  max-width: 470px;
  width: 100%;
  float: none;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  height: 100%;
}

ul {
  padding: 0;
}
#simplemodal-container .simplemodal-data {
  padding: 5px 8px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
  font-style: italic;
}
#LocalAccountSigninEmailExchange,
#SignInWithLogonNameExchange {
  background-image: url(none);
  background-size: 10%;
  background-position-x: 95%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  border-radius: 0.2rem;
  width: 100%;
  width: 100%;
  font-size: 1em;
  margin-left: auto;
}

.buttons button {
  display: block;
  width: 50%;
  height: 40px;
  background-color: #0067b8;
  border-radius: 0.2rem;
  color: #fff;
  font-size: 1em;
  border: none;
  margin-top: 10px;
}

.buttons #continue:disabled,
.buttons button[aria-disabled="true"] {
  opacity: 0.3;
}
.buttons button:not([aria-disabled="true"]) {
  opacity: 1;
}
.buttons #cancel {
  padding: 0;
  margin-left: auto;
  background: 0 0;
  border: 0;
  width: inherit;
  position: absolute;
  background-color: transparent;
  top: 2px;
  left: 3.5%;
  font-size: 1em;
  color: #505050;
  box-shadow: none;
  text-align: left;
}
.buttons #cancel:hover {
  color: #000 !important;
}
.buttons #cancel:before {
  padding: 10px;
  vertical-align: sub;
  zoom: 90%;
  display: inline-block;
}
#attributeList ul {
  padding: 0;
}
#attributeList ul li {
  list-style: none;
  margin: 1rem 0;
}
label {
  font-weight: 600;
}
#attributeList ul li label {
  float: left;
}
#attributeList ul li.EmailBox label,
#attributeList ul li.Password label,
#attributeList ul li.TextBox label {
  display: none !important;
}
#attributeList ul li label[for="country"] {
  display: inline-block !important;
}
#attributeList ul li label[for="cpiminternal_legalCountry"] {
  float: none;
  text-align: left;
  display: block !important;
}
#attributeList ul li label[for="cpiminternal_dateOfBirth"] {
  float: none;
  text-align: left;
  display: block !important;
}
#attributeList ul li input {
  outline: 0;
  height: 30px;
  width: 70%;
  border-radius: unset;
  border: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
}
#attributeList ul li input:focus {
  border: none;
  border-bottom: 1px solid #1662c7;
}
#attributeList ul li input::-webkit-input-placeholder {
  text-indent: 20px;
}
#attributeList ul li .attrEntry.validate input:invalid {
  border-color: #b00;
}
#attributeList ul li .attrEntry .verify {
  margin-top: 15px;
  padding-bottom: 10px;
  position: relative;
  text-align: right;
}
#attributeList ul li .attrEntry .verify #email_ver_but_send {
  width: 50%;
  height: 40px;
  background-color: #0067b8;
  color: #fff;
  float: right;
}
#attributeList ul li .attrEntry .verify #email_ver_but_send:hover {
  background-color: #0058ad;
}
@media screen and (-ms-high-contrast: active) {
  #attributeList ul li .attrEntry .verify button,
  .buttons #continue {
    border: 1px dashed #fff !important;
  }
  #attributeList ul li .attrEntry .verify button:hover,
  .buttons #continue:hover {
    border: 1px solid #fff !important;
  }
}
#attributeList ul li .attrEntry .verify #email_ver_but_verify {
  width: inherit;
  padding: 0 20px;
  height: 40px;
  background-color: #0067b8;
  color: #fff;
  margin-left: 148px;
}
#attributeList ul li .attrEntry .verify #email_ver_but_verify:hover {
  background-color: #0058ad;
}
#attributeList ul li .attrEntry .verify #email_ver_but_resend {
  padding: 0 20px;
  border: 0;
  font-size: 1em;
  height: 40px;
  right: 0;
  bottom: -38px;
  background-color: #0067b8;
  color: #fff;
  width: inherit;
  float: right;
  margin-left: 5px;
}
#attributeList ul li .attrEntry .verify #email_ver_but_resend:hover {
  background-color: #0058ad;
}
#attributeList ul li .attrEntry .verify #email_ver_but_edit {
  margin-bottom: 15px;
  border: none;
  color: #fff;
  background-color: #0067b8;
  width: 50%;
  height: 40px;
  float: right;
}
#attributeList ul li .attrEntry .verify #email_ver_but_edit:hover {
  background-color: #0058ad;
}
#attributeList ul li .attrEntry .verify #email_ver_input_label {
  display: none !important;
}
#api .working {
  background: url(data:image/gif;base64,R0lGODlhbgAKAPMAALy6vNze3PTy9MTCxOTm5Pz6/Ly+vNTS1Pz+/Ozq7MzKzP///wAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCQAJACwTAAIABgAGAAAEE7AcM0iaIAuaQRidR4RIIgREGQEAIfkECQkACQAsJwACAAYABgAABBOwHDNImiALmkEYnUeESCIERBkBACH5BAkJAAkALDYAAgAGAAYAAAQTsBwzSJogC5pBGJ1HhEgiBEQZAQAh+QQJCQAJACxFAAIABgAGAAAEE7AcM0iaIAuaQRidR4RIIgREGQEAIfkECQkACgAsCwACAEAABgAABDdQpWFOUTjrzbv/HkFZAmACB6iuLFeeR3CabW138izOd3/vJwTFRPAZWUIDUUIICI5QFSLgVEQAACH5BAkJAAoALB8AAgAtAAYAAAQyUKVhTlE46837LkdFSEAJHF6qcqEpBGa5zmp8Ejatc0ZfEgjKb0fE4FwSQkBQbL6AiggAIfkECQkACgAsOAACABUABgAABCpQpWFOUTjnciqRQAgcWtmJQiCGpbaOxNtmRh0SCHXPWIxKhICAtxEiFBEAIfkECQkACgAsPQACABAABgAABCdQpWFOURgTagX4wJFJBngE4Dei6ZauqYFQHzHOZSgRgTBiiEBPEQEAIfkECQkACwAsAwACAEsABgAABEVwpWFOWTjrzbv/XnFUxCaSEqACB+i+cDeugjarQrCqce97O5bGsAsQgr9kkkgbFhEUnHIaOzYzVimCYKR6XzkCghMeRwAAIfkECQkACwAsJgACACkABgAABDxwpWFOWTjrrcupxOaBEmACB6dy3ylorSkEp7neWI1qRh0QOtyt5+L5EBSZcAUsZppKBOG3vM0ICM41GwEAIfkECQkACgAsMAACAB8ABgAABDdQpWFOUThrQq2WXSEAJHB8m1Ge2bgGJYlmcJzGnD2DOpaXCAqJsOMNNUGVSUIICIoYRMCJklIjACH5BAkJAAsALDUAAgAbAAYAAAQ3cKVhTlkYl1NJ1tyQSEAJHN8SlsK3AkJglul8fsYcEHadszgdggJ0/URG0wVB2KVABMQzFpBGAAAh+QQJCQALACwPAAIAQgAGAAAEU3ClYU5ZOOvNOyeUtRVHRYzlkEhACxxeLH+GC2tpK+AuIAQ9w2woA/Y2wYCmZgMdidCN04Vk+pY9AoKii3oxW+aJ50KQuwhCYPf9ptedn/YTgEcAACH5BAkJAAsALB4AAgAzAAYAAARMcKVhTlk4663LqQQ3VZdGUJYArMDBvdzHCp3Bupl6B+wK/5heyyQk9k494M82M7KcKwRlFVK+kNFaMzcdIggBmhUmCCNEYHEnEF5EAAAh+QQJCQALACwoAAIAKgAGAAAER3ClYU5ZOGtCrZZHRXxFOCQgoB7fZqgA68LCrAoBrLZZrn+6mOYFC3B+PEkQSBRmmjEE5ZZMUW0n7AVBMFYxXG8LR0CMjeYIACH5BAkJAAsALC4AAgApAAYAAARHsBwzyLo4DVrwlZTljRo3AajgCRR6jGc6Zi0Qu16A7uOOzwudb7MTXQjDns9IGiJ3iBXR1oQCFyCZIECIkriq2bZ7/RC4iwgAIfkECQkACwAsLgACADMABgAABExwpWFOWRiXU0nOU3V9ZAlSlgCswEFyrPCprGvemlEH7Er2rQ+vh8MNd8SPLiYEFm8EIIKy8jSZJ+yTNF16EISArCQQI8jh8RYtXkQAACH5BAkJAAsALC8AAgA/AAYAAAROsBwzyLo4DVrwlZTljWRpZtsErIInUOsxquxp3x+sA4EXrMARMIYrln5DoOhCSAqHS6O0yRoiXJsaFniVekGAhSBA6LrILdK47G2LCYEIACH5BAkJAAoALDAAAgAfAAYAAAQ6sBwziLo4DVqwz9shASQgeAJFHh+qAlMJe4EMtKAtW3mJXwRbsIRwqXg4xGalEAQIxQ/iefpdpk9FBAAh+QQJCQALACwwAAIAKQAGAAAEPnClYU5ZGJdTSf5gqFGWAJzAAXKoIL6ZiR4BeoJ2CsO1TeQ4Q2v3+tkQlJPnYzwhiKLNEEEIuEIC6xMarboiACH5BAkJAAoALDEAAgA3AAYAAARCsBwziLo4DVqw/2AoKsR2SEAKCJ5Apccoz9kLTOrtBTlA/yJeL2ep5YDIXa+kQrQ2sKQUAdUJAgTnB4FlSacErCICACH5BAkJAAsALDIAAgAVAAYAAAQpsBwzyLo4S5rWBKCQjV9IgUAwZicYDGi6Ym1KxMh83WixCAFCTrcL+iIAIfkECQkACgAsMgACAB8ABgAABC5QpWFOUTjrrcuphASMwMGd3EcKATmiMOaWxBzDRj4SCLXfqNpKQggIgDAWTxEBACH5BAkJAAsALDMAAgAtAAYAAAQysBwzyLo46823pMkyAaTQneg2lhQJBGmMtmQwuK+sb/RL4Iid8PJzFRaCACE4HCaXiwgAIfkECQkACgAsOAACAAYABgAABBNQpWFOESCDE3QmnoFQn0QEghIBACH5BAkJAAoALEIAAgAGAAYAAAQTUKVhThEggxN0Jp6BUJ9EBIISAQAh+QQJCQAKACxRAAIABgAGAAAEE1ClYU4RIIMTdCaegVCfRASCEgEAOw==)
    no-repeat;
  height: 30px;
  width: auto;
  background-position: center bottom;
}
#attributeList ul li .attrEntry .itemLevel {
  display: none;
}
#attributeList ul li .attrEntry .dropdown_single {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
  padding-left: 15px;
}
#attributeList ul li .attrEntry div#cpiminternal_dateOfBirth.date {
  margin-bottom: 15px;
  display: table;
  width: 100%;
}
#attributeList ul li .attrEntry div#cpiminternal_dateOfBirth.date select {
  display: table-cell;
  height: 45px;
  padding-left: 15px;
}
#attributeList
  ul
  li
  .attrEntry
  div#cpiminternal_dateOfBirth
  select#cpiminternal_dateOfBirth_day.day {
  margin-right: 3%;
  width: 23%;
}
#attributeList
  ul
  li
  .attrEntry
  div#cpiminternal_dateOfBirth
  select#cpiminternal_dateOfBirth_month.month {
  margin-right: 3%;
  width: 38%;
}
#attributeList
  ul
  li
  .attrEntry
  div#cpiminternal_dateOfBirth
  select#cpiminternal_dateOfBirth_year.year {
  width: 33%;
}
#attributeList ul li .helpLink {
  display: none;
}
